%html
 %head
  %title="FEEEEEED-ZUH!"
  %link{:rel=>'stylesheet', :href=>'http://assets.lucasrichter.id.au/bootstrap/css/bootstrap.min.css'}
 %body
  %section#grid-system
   %div.row
    %div.span6
     %h1= "New feed"
   %div.row
    %div.span6
     %form{:method=>'post', :action=>'/feeds/create'}
      %p
       %label{:for=>'name'}= 'Name'
       %input{:id=>'name', :name=>'name'}
      %p
       %label{:for=>'url'}= 'URL'
       %input{:id=>'url', :name=>'url'}
      %p
       %input{:type=>'submit', :value=>'Create'}
